body {
    background-color: #dbdadec5;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }
 
 
 /* Style for user navigation bar */
 .usernav {
     background-color: #673AB7; /* Set your desired background color */
     color: white; /* Set text color */
     padding: 10px 0; /* Adjust padding as needed */
 
 }
 
 .bar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 1200px; /* Set a maximum width for the container if needed */
     margin: 0 auto; /* Center the container */
     padding: 0 20px; /* Add horizontal padding to the container */
 }
 
 .logo {
     margin: 0;
 }
 
 .globalsearch {
     display: flex;
     align-items: center;
 }
 
 .globalsearch select,
 .globalsearch input[type="text"],
 .globalsearch input[type="submit"] {
     margin-right: 10px;
 }
 
 .globalsearch input[type="text"] {
     background-color: rgba(255, 255, 255, 0.755);
     padding: 8px;
     border: none;
     border-radius: 20px;
     outline: none;
     width: 400px;
 }
 
 .globalsearch input[type="submit"] {
     background-color: #9575CD; /* Purple button color */
     color: #fff;
     border: none;
     padding: 8px 20px;
     border-radius: 20px;
     cursor: pointer;
     transition: 0.3s;
 }
 
 .globalsearch input[type="submit"]:hover {
     background-color: #7E57C2; /* Darker purple on hover */
 }
 .bar img {
     width: 40px; /* Set width for the user profile image */
     height: 40px; /* Set height for the user profile image */
     border-radius: 50%; /* Make the image circular */
 }
 
 
 /* Style for left bar */
 .left-bar {
     width: 200px;
     height: 400px;
     background-color: white;
     float: left;
     padding: 20px;
     border-radius: 10px;
     margin-left: 50px;
 
     /* Use an appropriate font-family */
     font-size: 20px;
     color: #333;
     font-weight: bolder;
 }
 .left-bar a {
     display: block;
     margin-bottom: 10px;
     text-decoration: none;
     color: #333;
 }
 .left-bar a:hover {
     color: #673AB7;
 }
 
 
 .user-info {
     display: flex;
     align-items: center;
     margin-bottom: 20px;
 }
 
 .user-info img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin-right: 10px;
 }
 
 .user-info p {
     font-size: 18px;
     font-weight: bold;
     margin: 0;
 }
 

 h1 {
    color: #7367de; /* Purple color */
    text-align: center;
    margin-bottom: 20px;
}

.userquery {
    background-color: #fff; /* White background for posts */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 400px;
    margin-right: 300px;
}